
html body {
    background-color: azure;
}

#canvas svg {
    display: block;
    margin: auto;
}

#app-nav {
    background-color: #d8dee2;
    height: 60px;
}

.nav-title {
    font-size: 36px;
    color: #3498db;
    margin-left: 3px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav-title:hover {
    text-decoration: none;
}

.nav-link {
    height: 60px;
    line-height: 40px;
}

.edges line {
    stroke-opacity: 1;
    cursor: pointer;
}

.filter-button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100px;
    height: 65px;
    font-size: 28px;
    border-radius: 25px;
    position: absolute;
    bottom: 50px;
    right: 50px;
}

.nodex text {
    cursor: default;
}

.nodes text.user-name-text {
    cursor: pointer;
    text-decoration: underline;
    font-family: Comic Sans MS;
    fill: aliceblue;
}

div.user-tooltip {	
    position: absolute;			
    pointer-events: none;			
}

.spinning-container {
    margin: 40px auto 40px auto;
}

.spinning {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.info-container {
    padding-left: 5px;
    padding-right: 5px;
}

.info-title {
    font-family: Fantasy;
    font-size: 16px;
    color: #326ba8;
    font-weight: 500;
}

#filter-board {
    position: absolute;
    bottom: 120px;
    width: 500px;
    right: 25px;
    padding: 30px 20px 30px 20px;
    background-color: white;
    border-radius: 15px;
    border: solid;
    border-width: 1px 0.5px 0.5px 0.5px;
    border-color: #d8dee2;
    transition-property: opacity visibility;
    transition-duration: 0.4s;
}

#top-user-val {
    font-weight: 600;
    font-size: 24px;
    color: #326ba8;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.range-label {
    font-weight: 500;
    padding: 5px;   
}

#top-user-range {
    cursor: pointer;
}

.render-button {
    font-size: 18px;
    font-family: Comic Sans MS;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 120px;
    height: 40px;
    background-color: #326ba8;
    border-color: #326ba8;
}

.render-button:hover {
    background-color: #34d058;
    border-color: #34d058;
    transition-property: background border;
    transition-duration: 0.5s;
}
