
#canvas svg {
    display: block;
    margin: auto;
}

#app-nav {
    background-color: #d8dee2;
    height: 60px;
}

.nav-link {
    height: 60px;
    line-height: 40px;
}

.edges line {
    stroke: #999;
    stroke-opacity: 0.6;
}
